
body {
    margin: 0;
    height: auto;
}

nav {
    background-color: indigo;
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
}

.dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu {
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
}


.dropdown-item:hover {
    background-color: rgba(75, 0, 130, 0.2);

}

header {
    background-color: indigo;
    height: auto;
}

.h1-pad {
    padding: 80px 0 50px 0;
}

h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    margin: 100px 0 100px 0;
    transform: rotate(-20deg);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);
}

header p {
    color: white;
    padding: 50px 0 50px 0;
    margin: 0 80px 0 0;
    font-size: 22px;
    
}

.container {
    padding-bottom: 150px;
}

/*sec-1*/

#sec-1 {
    text-align: center;
}

#sec-1 .fas {
    font-size: 40px;
    color: purple;
    padding: 50px 0 20px 0;
}

#sec-1 p {
    padding: 0 40px;
}

/*sec-2*/

#sec-2 .fas {
    font-size: 40px;
    border: solid;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    border-color: blue;
    color: orange;
}

#sec-2 p {
    padding-bottom: 50px;
}

/*footer*/

footer {
    padding: 10px 0;
    background-color: black;
    color: grey;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 12px;
}

@media (max-width: 576px) {  
    .dropdown-menu {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    .h1-pad {
        padding: 10px 0 50px 0;
    }

    header p {
        margin: 0 15px 10px 30px;
        font-size: 18px;
    }

    #sec-3 .price-table {
        height: 450px;
    }

    #sec-3 .scroll {
        height: 200px;
        overflow: auto;
        padding-top: 20px;
    }
}
 
@media (max-width: 768px) {  

    h1 {
        font-size: 40px;
    }

    .h1-pad {
        padding: 10px 0 50px 0;
    }

    header p {
        margin: 0 15px 10px 30px;
        font-size: 18px;
    }

    #sec-3 .price-table {
        border: solid maroon 2px;
        border-radius: 15px;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 50px;
        height: 450px;
    }

    #sec-3 .scroll {
        height: 200px;
        overflow: auto;
        padding-top: 20px;
    }
}

@media (min-width: 992px) { 
    header p {
        padding: 50px 50px 50px 50px;
        font-size: 24px;
    }

    h1 {
        font-size: 80px;
    }
 
}

@media (min-width: 1400px) {  
    header p {
        padding: 50px 50px 50px 50px;
        margin: 50px 200px 0 0;
        font-size: 24px;
    }

    h1 {
        padding-top: 0;
        font-size: 80px;
    }

}