
body {
    margin: 0;
    height: auto;
}

nav {
    background-color: indigo;
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
}

.dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu {
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
}


.dropdown-item:hover {
    background-color: rgba(75, 0, 130, 0.2);

}

header {
    background-color: indigo;
    height: auto;
}

.h1-pad {
    padding: 80px 0 50px 0;
}

h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    margin: 100px 0 100px 0;
    transform: rotate(-20deg);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);
}

header p {
    color: white;
    padding: 50px 0 50px 0;
    margin: 0 80px 0 0;
    font-size: 22px;  
}

.container {
    padding-bottom: 150px;
}

svg {
    margin: -60px 0 100px 0;
}

#form {
    margin-bottom: 200px;
}

/*sec-1*/



/*footer*/

footer {
    padding: 10px 0;
    background-color: black;
    color: grey;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 12px;
}

@media (max-width: 576px) {  
    .dropdown-menu {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    .h1-pad {
        padding: 10px 0 50px 0;
    }

    header p {
        margin: 0 15px 10px 30px;
        font-size: 18px;
    }

}
 
@media (max-width: 768px) {  

    h1 {
        font-size: 40px;
    }

    .h1-pad {
        padding: 10px 0 50px 0;
    }

    header p {
        margin: 0 15px 10px 30px;
        font-size: 18px;
    }

}

@media (min-width: 992px) { 
    header p {
        padding: 50px 50px 50px 50px;
        font-size: 24px;
    }

    h1 {
        font-size: 80px;
    }
 
}

@media (min-width: 1400px) {  
    header p {
        padding: 50px 50px 50px 50px;
        margin: 50px 200px 0 0;
        font-size: 24px;
    }

    h1 {
        padding-top: 0;
        font-size: 80px;
    }

}