
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100vh; 
    width: 100%;
    margin: 0;

}

h1 {
    font-size: 5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    padding: 50px; 
    margin: 150px 240px 0px 240px;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);  
}

h5 {
    font-size: 30px;
    padding: 40px 0px 20px 0px;
    color: grey;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: none;
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header" 
    "divider-1 divider-1 divider-1"
    "section-1 section-1 section-1"
    "section-2 section-2 section-2"
    "divider-2 divider-2 divider-2"
    "cta cta cta"
    "divider-3 divider-3 divider-3"
    "divider-4 divider-4 divider-4"
    "testimonials testimonials testimonials"
    "form form form"
    "footer footer footer"; 
}


.navbar-brand2 {
    position: relative;
    left: 15px;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    margin-right: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)
}

.brand {
    left: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    margin-right: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)
}

/*
.navbar {
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: nav-animation 0.60s 0.1s ease-out forwards;
}

.navbar:hover {
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: nav-animation-rev 0.60s 0.1s ease-out forwards;
}
  
  @keyframes nav-animation-rev {
    0% {
      background-position: top right;
      background-image: linear-gradient(90deg, white 50%,#1266f1 90%);
    }
    100% {
      background-position: top left;
    }
  }

  @keyframes nav-animation {
    0% {
      background-position: top right;
      background-image: linear-gradient(90deg, white 50%,#1266f1 90%);
    }
    100% {
      background-position: top left;
    }
  }

*/

header {
    grid-area: header;
    background: #09F;
    height: 400px;
}  

.divider-1 {
    grid-area: divider-1;
    max-width: 100%;

  }  

#section-1 {
    grid-area: section-1;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "card-header-1 card-header-2 card-header-3";
    font-size: 20px;
    color: white;
    text-align: center; 
    z-index: 1;
    margin: -320px 200px 0 200px;
}

#section-1 .item-1 {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
    transform: skewY(5deg);
    grid-area: card-header-1;
}

#section-1 .item-2 {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow:0 6px 11px 0 rgba(0,0,0,.25),0 7px 20px 3px rgba(0,0,0,.2);
    transform: skewY(-5deg);
    grid-area: card-header-2;
}

#section-1 .item-3 {
    padding: 10px 13px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
    transform: skewY(5deg);
    grid-area: card-header-3
}

.unskew {
    transform: skewY(-5deg);
}

.unskew2 {
    transform: skewY(5deg);
}

#section-2 {
    grid-area: section-2;
    padding: 160px 0px;
    margin: 0px 150px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-2-item-2 section-2-item-1";
    color: white;
    text-align: center; 
}

#section-2 > #item-1 {
    padding: 60px 50px 0 50px;
    text-align: left;
    height: 100%;
    grid-area: section-2-item-1;
    background-color: rgba(0, 0, 0, 0.7);
}

#section-2 > #item-1 > span {
    font-size: 50px;
    line-height: 35px;
}

#section-2 > #item-1 > h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 20px 2px;
    color: #1266f1;
}

#section-2 .item-2 {
    height: auto;
    grid-area: section-2-item-2;
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
    transform: skewY(5deg);
}

#section-2 img {
    box-shadow:0 6px 11px 0 rgba(0,0,0,.25),0 7px 20px 3px rgba(0,0,0,.2)
}

.divider-2 {
    grid-area: divider-2;
    max-width: 100%;
    overflow: hidden;
}

#cta {
    grid-area: cta;
    background: #09F;
    height: 300px;
    text-align: center;
}

#cta > h4 {
    font-size: 80px;
    color: white;
    font-family: 'Satisfy', cursive;
}

#cta p {
    font-size: 30px;
    color: grey;
    padding: 30px 0px;
}


.divider-3 {
    grid-area: divider-3;
    overflow: hidden;
}

.divider-4 {
    grid-area: divider-4;
    overflow: hidden;
}

#testimonials {
    grid-area: testimonials;
    display: grid;
    grid-template-areas: 
    "testimonial-item-1 testimonial-item-2";
    background-color: rgba(0, 0, 0, 0.6);
}

#testimonials > .item-1 {
    margin-top: -100px;
    padding-left: 200px;
}

#testimonials h5 {
    font-size: 30px;
    line-height: 35px;
}

.stars {
    padding-bottom: 30px;
}

.stars > .fas {
    color: yellow;
}

#testimonials p {
    padding-right: 100px;
    font-size: 18px;
    color: white;
}

.name {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    text-align: right;
    position: relative;
    top: 5px;
}

#testimonials img {
    margin-right: 200px;
    position: relative;
    grid-area: testimonial-item-2;
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
}

form {
    grid-area: form;
    padding: 0px 200px 100px 200px;
    font-size: 18px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "call call"
    "contact contact"
    "full-name email" 
    "phone domain" 
    "details details" 
    "submit submit";
}

form .call {
    grid-area: call;  
    margin-bottom: 45px;
}


form .contact {
    grid-area: contact;  
}

form .full-name {
    grid-area: full-name;
    margin-right: 20px
}

form .email {
    grid-area: email;
    margin-left: 20px
}

form .phone {
    grid-area: phone;
    margin-right: 20px
}

form .domain {
    grid-area: domain;
    margin-left: 20px
}

form .details {
    grid-area: details;
}

form .submit {
    grid-area: submit;
    text-align: center;
    padding: 15px;
}

form h6 {
    padding: 100px 0 0px 0;
    text-align: center;
    font-size: 30px;
}

form p {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    transform: rotate(-20deg);
}

form input, textarea {
    padding: 10px 10px;
    margin: 10px;
    width: 100%;
    border-width: 1px;
    border-color: black;
}

footer {
    grid-area: footer;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

footer ul {
    font-family: 'Satisfy', cursive;
    list-style-type: none;
    padding: 0px;
}

footer p {
    padding-top: 7px;
    font-size: 10px;
}
  
  .btn-custom {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #fbfbfb;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7)50%, #1266f1 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    display: inline;
    border-radius: 1.0em;
    text-decoration: none;
    box-shadow:0 6px 14px 0 rgba(0,0,0,.25),0 10px 30px 4px rgba(0,0,0,.2);
    padding: 1em 1.5em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
} 

a.btn-custom:hover {
    transition: 0.1s;
    color: white;
    animation: button-animation-rev 0.65s ease-out forwards;
}
  
  @keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

.fas, .fab {
    color: grey;
}

@media only screen and (max-width: 1200px) {

.grid {    
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "header"
    "divider-1"
    "section-1"
    "section-2"
    "divider-2"
    "cta"
    "divider-3"
    "divider-4"
    "testimonials"
    "form"
    "footer";
}

h1 {
    margin: 100px 10px 0px 10px;
}

#section-1 {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "card-header-1"
    "card-header-2"
    "card-header-3";
    margin: 0px 10px;
}

header {
    height: 300px;
}

#section-2 {
    padding-top: 160px;
    margin: 0px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-2-item-1"
    "section-2-item-2";
}

#cta {
    height: 620px;
    padding-top: 50px;
}

#cta > h4 {
    padding: 20px 0px 20px 0px;
    font-size: 70px;
    color: white;
    font-family: 'Satisfy', cursive;
}

#cta p {
    font-size: 25px;
    color: grey;
    padding: 10px 0px;
}

#cta .btn-custom {
    margin-bottom: 50px;
}

#testimonials {
    grid-area: testimonials;
    display: grid;
    grid-template-areas: 
    "testimonial-item-1";
    background-color: rgba(0, 0, 0, 0.6);
}

#testimonials > .item-1 {
    margin-top: 0px;
    padding-left: 15px; 
    padding-bottom: 15px;
}

#testimonials h5 {
    font-size: 30px;
    line-height: 5px;
}

.stars {
    padding-top: 20px;
}

#testimonials p {
    font-size: 18px;
    padding-bottom: 10px;
}

#testimonials img {
    display: none;
    margin-right: 0px;
    position: relative;
    grid-area: testimonial-item-2;
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
}

form {
    padding: 30px 60px 80px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "call"
    "contact"
    "full-name"
    "email" 
    "phone" 
    "domain"
    "details" 
    "submit";
}

form .full-name {
    margin-right: 0px
}

form .email {
    margin-left: 0px
}

form .phone {
    margin-right: 0px
}

form .domain {
    margin-left: 0px
}

}


@media only screen and (max-width: 1600px) {  

    #section-2 > #item-1 {
        font-size: 16px;
    }
    
    #section-2 > #item-1 > span {
        font-size: 40px;
        line-height: 35px;
    }
    
    #section-2 > #item-1 > h3 {
        font-size: 16px;
        font-weight: 300;
        padding: 0 0 20px 2px;
        color: #1266f1;
    }

  
    
}







